<p style="color: green"><%= notice %></p>

<h2><%= @food.name %></h2>
<div class="food">
  <p>
    <strong>Name:</strong>
    <%= @food.name %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= @food.measurement_unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @food.price %>
  </p>
  <p>
    <%= button_to "Delete", @food, method: :delete %>
  </p>
</div>

<div>
  <%= link_to "Edit this food", edit_food_path(@food) %> |
  <%= link_to "Back to foods", foods_path %>

  <%= button_to "Delete food", @food, method: :delete %>
</div>
